extends layout

block content
  section#content
    article.example
      h1 
        | Annotated Source
        span.target
        span.lightning
      p 
        | Quintus API Documentation is still a work in progress, in the meantime, check out the annotated source code of the 
        a(target='_blank',href="/quintus/docs/quintus.html") Quintus Core  
        |  along with the code for the 
        a(target='_blank',href="/quintus/docs/ball.html") Ball
        | , 
        a(target='_blank',href="/quintus/docs/collision.html") Collision
        |  and 
        a(target='_blank',href="/quintus/docs/platformer.html") Platformer
        |  examples 
    article.example
      h1 
        | Test Suite
        span.target
        span.lightning
      p The Quintus test suite is written in Jasmine and can be run directly from your browser. 
