extends layout

block content
  section#content
    article.example
      h1 
        | The Quintus Guide
      p 
        | The best way to get started with Quintus is to read through the guides to get an understanding of the engine and the philosophy behind it.
      ol
        li 
          a(href="/guide/intro.md") Introduction
        li 
          a(href="/guide/core.md") Core Quintus Basics
        li 
          a(href="/guide/sprites.md") Working with Sprites
        li 
          a(href="/guide/scenes.md") Building Scenes and setting the Stage
        li 
          a(href="/guide/input.md") Input in Quintus
        li 
          a(href="/guide/animation.md") Adding in animation
        li 
          a(href="/guide/sound.md") Getting Noisy: playing sound
        li 
          a(href="/guide/2d.md") The 2D Module
      h1 
        | Annotated Source
        span.target
        span.lightning
      p 
        | Quintus API Documentation is still a work in progress, in the meantime, check out the annotated source code of the 
        a(href="/quintus/docs/quintus.html") Quintus Core.
        |  API Documentation coming soon.

      h1 
        | Examples
      p
        | Examples are often the best way to learn a new system - the ones below are listed in order of increasing complexity, with the final Breakout game being a full multi-level game. Click on the example and then the annotated source to see an explanation of the example.
        ol
          li
            a(href="/quintus/examples/ball/") Ball
            |  (
            a(href="/quintus/docs/ball.html") Annotated Source
            | ) - A simple single-sprite

          li
            a(href="/quintus/examples/sprite/") Simple Sprite
            |  ( 
            a(href="/quintus/docs/sprite.html") Annotated Source
            | ) - A moving, scalable and rotatable sprite, use arrow keys and z,x to control
          li
            a(href="/quintus/examples/touch/") Touch &amp; Drag
            |  (
            a(href="/quintus/docs/touch.html") Annotated Source
            | ) - Touch example with multiple convex shapes. Supports multi-touch on mobile.
          li
            a(href="/quintus/examples/collision/") Collision
            |  (
            a(href="/quintus/docs/collision.html") Annotated Source
            | ) - Demonstrates collision detection for rotating, scaling convex shapes
          li
            a(href="/quintus/examples/ui/") UI
            |  (
            a(href="/quintus/docs/ui.html") Annotated Source
            | ) - A few controls using the UI module
          li
            a(href="/quintus/examples/audio/") Audio - HTML5 and Web Audio example
          li
            a(href="/quintus/examples/platformer/") Platformer
            |  (
            a(href="/quintus/docs/platformer.html") Annotated Source
            | ) - The simple platformer example
          li
            a(href="/quintus/examples/breakout/") Breakout
            |  (from 
            a(href="https://github.com/city41/breakouts") Breakouts
            | ) - mouse or touch controlled game of brekout

    article.tutorial
      h1 
        | Tutorials
      p Additional selected tutorials using Quintus from around the web
      ul
        li 
          a(href="http://www.gamedevacademy.org/create-a-html5-mario-style-platformer-game/") Create a HTML5 Mario-Style Platformer (3 Parts)
        li 
          a(href="http://html5gametutorial.com/tutorial/game1-tower-man/") HTML5 Pac-Man Clone, Tower Man
        li 
          a(href="http://www.gamedevacademy.org/create-a-mobile-educational-game-with-html5/") Create a Mobile Educational Game with HTML5
        li
          | (Paid Course) 
          a(href="http://www.pluralsight.com/training/Courses/ExerciseFiles/beginning-html5-game-development-quintus") Beginning HTML 5 Game Development With Quintus
          
      
      

    article.example
      h1 
        | Test Suite
        span.target
        span.lightning
      p 
        | The 
        a(href='/quintus/specs/SpecRunner.html') Quintus test suite
        |  is written in Jasmine and can be run directly from your browser. 
