extends layout

block content
  section#content
    article.example
      h1 
        | Annotated Source
        span.target
        span.lightning
      p 
        | Quintus API Documentation is still a work in progress, in the meantime, check out the annotated source code of the 
        a(href="#") Quintus Core  
        |  along with the code for the 
        a(href="#") Ball
        | , 
        a(href="#") Collision
        |  and 
        a(href="#") Platformer
        |  examples 
    article.example
      h1 
        | Test Suite
        span.target
        span.lightning
      p The Quintus test suite is written in Jasmine and can be run directly from your browser. 
