extends layout

block content
  section#content
    article.example
      h1 
        | The Quintus Guide
      p 
        | The best way to get started with Quintus is to read through the guides to get an understanding of the engine and the philosophy behind it.
      ol
        li 
          a(target='_blank',href="/guide/intro.md") Introduction
        li 
          a(target='_blank',href="/guide/core.md") Core Quintus Basics
        li 
          a(target='_blank',href="/guide/sprites.md") Working with Sprites
        li 
          a(target='_blank',href="/guide/scenes.md") Building Scenes and setting the Stage
        li 
          a(target='_blank',href="/guide/input.md") Input in Quintus
        li 
          a(target='_blank',href="/guide/animation.md") Adding in animation
        li 
          a(target='_blank',href="/guide/sound.md") Getting Noisy: playing sound
        li 
          a(target='_blank',href="/guide/2d.md") The 2D Module
      h1 
        | Annotated Source
        span.target
        span.lightning
      p 
        | Quintus API Documentation is still a work in progress, in the meantime, check out the annotated source code of the 
        a(target='_blank',href="/quintus/docs/quintus.html") Quintus Core.
        |  API Documentation coming soon.

      h1 
        | Examples
      p
        | Examples are often the best way to learn a new system and we'll be adding more complicated examples
        | as time provides. In the meantime, take a look at the following basic ones to help you get going:
        ol
          li
            a(target='_blank',href="/quintus/examples/ball/") Ball
            |  (
            a(target='_blank',href="/quintus/docs/ball.html") Annotated Source
            | ) 
          li
            a(target='_blank',href="/quintus/examples/sprite/") Simple Sprite
            |  (
            a(target='_blank',href="/quintus/docs/sprite.html") Annotated Source
            | ) 
          li
            a(target='_blank',href="/quintus/examples/touch/") Touch &amp; Drag
            |  (
            a(target='_blank',href="/quintus/docs/touch.html") Annotated Source
            | ) 
          li
            a(target='_blank',href="/quintus/examples/collision/") Collision
            |  (
            a(target='_blank',href="/quintus/docs/collision.html") Annotated Source
            | ) 
          li
            a(target='_blank',href="/quintus/examples/platformer/") Platformer
            |  (
            a(target='_blank',href="/quintus/docs/platformer.html") Annotated Source
            | )
    article.example
      h1 
        | Test Suite
        span.target
        span.lightning
      p 
        | The 
        a(target='_blank',href='/quintus/specs/SpecRunner.html') Quintus test suite
        |  is written in Jasmine and can be run directly from your browser. 
